In [1]:
# Import dan Download modul yang diperlukan
import nltk
import pandas as pd
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('tagsets')
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package tagsets to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package tagsets is already up-to-date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [2]:
# Kalimat
text = "Mark Zuckerberg is one of the founders of Facebook, a company from the United States Meta Platforms saw its stock market value slump by more than $230bn (£169bn) on Thursday, in a record daily loss for a US firm. Meta also warned of slowing revenue growth in the face of competition from rival platforms including TikTok and YouTube, while advertisers were also cutting spending"

In [3]:
#Tokenize to words
words = nltk.word_tokenize(text)
words

['Mark',
 'Zuckerberg',
 'is',
 'one',
 'of',
 'the',
 'founders',
 'of',
 'Facebook',
 ',',
 'a',
 'company',
 'from',
 'the',
 'United',
 'States',
 'Meta',
 'Platforms',
 'saw',
 'its',
 'stock',
 'market',
 'value',
 'slump',
 'by',
 'more',
 'than',
 '$',
 '230bn',
 '(',
 '£169bn',
 ')',
 'on',
 'Thursday',
 ',',
 'in',
 'a',
 'record',
 'daily',
 'loss',
 'for',
 'a',
 'US',
 'firm',
 '.',
 'Meta',
 'also',
 'warned',
 'of',
 'slowing',
 'revenue',
 'growth',
 'in',
 'the',
 'face',
 'of',
 'competition',
 'from',
 'rival',
 'platforms',
 'including',
 'TikTok',
 'and',
 'YouTube',
 ',',
 'while',
 'advertisers',
 'were',
 'also',
 'cutting',
 'spending']

In [4]:
#Part of speech tagging
pos_tags = nltk.pos_tag(words)
pos_tags

[('Mark', 'NNP'),
 ('Zuckerberg', 'NNP'),
 ('is', 'VBZ'),
 ('one', 'CD'),
 ('of', 'IN'),
 ('the', 'DT'),
 ('founders', 'NNS'),
 ('of', 'IN'),
 ('Facebook', 'NNP'),
 (',', ','),
 ('a', 'DT'),
 ('company', 'NN'),
 ('from', 'IN'),
 ('the', 'DT'),
 ('United', 'NNP'),
 ('States', 'NNPS'),
 ('Meta', 'NNP'),
 ('Platforms', 'NNP'),
 ('saw', 'VBD'),
 ('its', 'PRP$'),
 ('stock', 'NN'),
 ('market', 'NN'),
 ('value', 'NN'),
 ('slump', 'NN'),
 ('by', 'IN'),
 ('more', 'JJR'),
 ('than', 'IN'),
 ('$', '$'),
 ('230bn', 'CD'),
 ('(', '('),
 ('£169bn', 'NN'),
 (')', ')'),
 ('on', 'IN'),
 ('Thursday', 'NNP'),
 (',', ','),
 ('in', 'IN'),
 ('a', 'DT'),
 ('record', 'JJ'),
 ('daily', 'JJ'),
 ('loss', 'NN'),
 ('for', 'IN'),
 ('a', 'DT'),
 ('US', 'NNP'),
 ('firm', 'NN'),
 ('.', '.'),
 ('Meta', 'NNP'),
 ('also', 'RB'),
 ('warned', 'VBD'),
 ('of', 'IN'),
 ('slowing', 'VBG'),
 ('revenue', 'NN'),
 ('growth', 'NN'),
 ('in', 'IN'),
 ('the', 'DT'),
 ('face', 'NN'),
 ('of', 'IN'),
 ('competition', 'NN'),
 ('from', 'IN'),
 ('rival', 'JJ'),
 ('platforms', 'NNS'),
 ('including', 'VBG'),
 ('TikTok', 'NNP'),
 ('and', 'CC'),
 ('YouTube', 'NNP'),
 (',', ','),
 ('while', 'IN'),
 ('advertisers', 'NNS'),
 ('were', 'VBD'),
 ('also', 'RB'),
 ('cutting', 'VBG'),
 ('spending', 'NN')]

In [5]:
# Check nltk help for description of the tag
nltk.help.upenn_tagset('NNP')

NNP: noun, proper, singular
    Motown Venneboerger Czestochwa Ranzer Conchita Trumplane Christos
    Oceanside Escobar Kreisler Sawyer Cougar Yvette Ervin ODI Darryl CTCA
    Shannon A.K.C. Meltex Liverpool ...

In [6]:
chunks = nltk.ne_chunk(pos_tags, binary=True) #either NE or not NE
for chunk in chunks:
    print(chunk)

(NE Mark/NNP Zuckerberg/NNP)
('is', 'VBZ')
('one', 'CD')
('of', 'IN')
('the', 'DT')
('founders', 'NNS')
('of', 'IN')
(NE Facebook/NNP)
(',', ',')
('a', 'DT')
('company', 'NN')
('from', 'IN')
('the', 'DT')
(NE United/NNP States/NNPS Meta/NNP Platforms/NNP)
('saw', 'VBD')
('its', 'PRP$')
('stock', 'NN')
('market', 'NN')
('value', 'NN')
('slump', 'NN')
('by', 'IN')
('more', 'JJR')
('than', 'IN')
('$', '$')
('230bn', 'CD')
('(', '(')
('£169bn', 'NN')
(')', ')')
('on', 'IN')
('Thursday', 'NNP')
(',', ',')
('in', 'IN')
('a', 'DT')
('record', 'JJ')
('daily', 'JJ')
('loss', 'NN')
('for', 'IN')
('a', 'DT')
(NE US/NNP)
('firm', 'NN')
('.', '.')
(NE Meta/NNP)
('also', 'RB')
('warned', 'VBD')
('of', 'IN')
('slowing', 'VBG')
('revenue', 'NN')
('growth', 'NN')
('in', 'IN')
('the', 'DT')
('face', 'NN')
('of', 'IN')
('competition', 'NN')
('from', 'IN')
('rival', 'JJ')
('platforms', 'NNS')
('including', 'VBG')
(NE TikTok/NNP)
('and', 'CC')
(NE YouTube/NNP)
(',', ',')
('while', 'IN')
('advertisers', 'NNS')
('were', 'VBD')
('also', 'RB')
('cutting', 'VBG')
('spending', 'NN')

In [7]:
entities = []
labels = []
for chunk in chunks:
    if hasattr(chunk, 'label'):
        #print(chunk)
        entities.append(' '.join(c[0] for c in chunk))
        labels.append(chunk.label())
        
entities_labels = list(set(zip(entities, labels)))
entities_df = pd.DataFrame(entities_labels)
entities_df.columns = ["Entities", "Labels"]
entities_df

                       Entities Labels
0                        TikTok     NE
1                       YouTube     NE
2                            US     NE
3                          Meta     NE
4                      Facebook     NE
5  United States Meta Platforms     NE
6               Mark Zuckerberg     NE

In [8]:
chunks = nltk.ne_chunk(pos_tags, binary=False) #either NE or not NE
for chunk in chunks:
    print(chunk)
    
entities = []
labels = []
for chunk in chunks:
    if hasattr(chunk, 'label'):
        #print(chunk)
        entities.append(' '.join(c[0] for c in chunk))
        labels.append(chunk.label())
        
entities_labels = list(set(zip(entities, labels)))
entities_df = pd.DataFrame(entities_labels)
entities_df.columns = ["Entities", "Labels"]
entities_df

(PERSON Mark/NNP)
(ORGANIZATION Zuckerberg/NNP)
('is', 'VBZ')
('one', 'CD')
('of', 'IN')
('the', 'DT')
('founders', 'NNS')
('of', 'IN')
(GPE Facebook/NNP)
(',', ',')
('a', 'DT')
('company', 'NN')
('from', 'IN')
('the', 'DT')
(GPE United/NNP States/NNPS)
(ORGANIZATION Meta/NNP)
('Platforms', 'NNP')
('saw', 'VBD')
('its', 'PRP$')
('stock', 'NN')
('market', 'NN')
('value', 'NN')
('slump', 'NN')
('by', 'IN')
('more', 'JJR')
('than', 'IN')
('$', '$')
('230bn', 'CD')
('(', '(')
('£169bn', 'NN')
(')', ')')
('on', 'IN')
('Thursday', 'NNP')
(',', ',')
('in', 'IN')
('a', 'DT')
('record', 'JJ')
('daily', 'JJ')
('loss', 'NN')
('for', 'IN')
('a', 'DT')
(GSP US/NNP)
('firm', 'NN')
('.', '.')
(PERSON Meta/NNP)
('also', 'RB')
('warned', 'VBD')
('of', 'IN')
('slowing', 'VBG')
('revenue', 'NN')
('growth', 'NN')
('in', 'IN')
('the', 'DT')
('face', 'NN')
('of', 'IN')
('competition', 'NN')
('from', 'IN')
('rival', 'JJ')
('platforms', 'NNS')
('including', 'VBG')
(ORGANIZATION TikTok/NNP)
('and', 'CC')
(ORGANIZATION YouTube/NNP)
(',', ',')
('while', 'IN')
('advertisers', 'NNS')
('were', 'VBD')
('also', 'RB')
('cutting', 'VBG')
('spending', 'NN')

        Entities        Labels
0           Meta  ORGANIZATION
1           Mark        PERSON
2             US           GSP
3           Meta        PERSON
4  United States           GPE
5     Zuckerberg  ORGANIZATION
6       Facebook           GPE
7        YouTube  ORGANIZATION
8         TikTok  ORGANIZATION

In [9]:
entities = []
labels = []

sentence = nltk.sent_tokenize(text)
for sent in sentence:
    for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(sent)),binary=False):
        if hasattr(chunk,'label'):
            entities.append(' '.join(c[0] for c in chunk))
            labels.append(chunk.label())
            
entities_labels = list(set(zip(entities,labels)))

entities_df = pd.DataFrame(entities_labels)
entities_df.columns = ["Entities", "Labels"]
entities_df

        Entities        Labels
0           Meta  ORGANIZATION
1           Mark        PERSON
2             US           GSP
3           Meta        PERSON
4  United States           GPE
5     Zuckerberg  ORGANIZATION
6       Facebook           GPE
7        YouTube  ORGANIZATION
8         TikTok  ORGANIZATION